<div class="jumbotron jumbotron-fluid mt-2">
    <div class="container">
        <h1 class="display-4" class="text-success">Mujer Linda</h1>
        <p class="lead">En nuestra pagina consigues todo lo que un amante de gatos desea tener y mucho más, solo hay lugar para cosas lindas y tiernas a un excelente precio y de muy buena calidad.</p>
        <blockquote class="font-weight-bold"> &#8220; Adopta No Compres &#8221; </blockquote>
        <br>contactanos
        <br>301 2819013
    </div>
</div>